.main{
    padding:4%;
}
.main i{
    color:#dc143c;
}
.main-inner{
    margin-top: 5%;
    min-height:50vh;
}
.main-content{
    width:80%;
    margin:auto;
}

.table-bordered th,.table-bordered td {
    border: 1px solid #2E64C3 !important;
}
.table{
    text-align: left;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #2E64C3;
}

.download-btn-style{
    text-decoration:none;
    font-style: none;
}
.download-btn-style:hover{
    text-decoration:none;
}