{% extends 'aecsweb/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'aecsweb/css/about.css' %}">
{% endblock%}

{% block body %}
<div class="main">
    <h5><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;About Us</h5>
    <div class="main-inner">
      <p>Maharishi Dayanand Aadarsh Inter College Umrara Dibai Bulandshahr in Bulandshahr is one of the leading businesses in the Tutorials For Class XII. Also known for Tutorials For Class XII, Tutorials For Class XII Science, Tutorials For Class XI Science, Tutorials For Class XI, Tutorials For Chemistry, Tutorials For Biology, Tutorials For Class IX, Tutorials For English and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Maharishi Dayanand Aadarsh Inter College Umrara Dibai Bulandshahr, Bulandshahr.</p>
    </div>
</div>
{% endblock %}