{% extends 'aecsweb/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'aecsweb/css/about.css' %}">
{% endblock%}

{% block body %}
<div class="main">
    <h5><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;Admission Guidelines</h5>
    <div class="main-inner">
        <h4>ADMISSION RULES</h4>
        <p>The guidelines for admission to classes from 6th to 9th & 11th in the Maharishi Dayanand Aadarsh Inter College Umrara are as follows:</p>
        <br>
        <h5>1.Admission Form</h5>
        <p>Admission Form can be procured from the office of MDA Inter College in which admission is sought by paying a Fee of Rs. 50/-.</p>
        <br>
        <h5>2.Documents to be submitted</h5>
        <p>&nbsp&nbsp&nbsp&nbsp&nbspA. Original Birth Certificate along with an attested copy is to be submitted at the time of admission.<br> 
        &nbsp&nbsp&nbsp&nbsp&nbspB. Admission will not be granted on the basis of an affidavit in lieu of a birth certificate.<br>
        &nbsp&nbsp&nbsp&nbsp&nbspC. Transfer Certificate is to be submitted when Admission is sought in classes 6 to 10.<br>   
        &nbsp&nbsp&nbsp&nbsp&nbspD. A copy of the caste certificate.  
        </pre></p>
    </div>
</div>
{% endblock %}