{% extends 'aecsweb/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'aecsweb/css/notices.css' %}">
{% endblock%}

{% block body %}
<div class="main">
    <h5><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;SAC</h5>
    <div class="main-inner">
		<div class="main-content">
            <!-- Recent Notices -->
            {% if length == 0 %}
			<center><br><br><br><h5 style="color: #535353;">Nothing To Show</h5></center>
			{% else %}
			<!-- Recent Notices -->
			<table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>SAC</th>
                     </tr>
                </thead>
                <tbody>
                    {% for i in sac|slice:"0:" reversed %}
                    <tr>
                        <td>{{forloop.counter}}</td>
			            <td style="width:30%;">{{i.Name}}</td>
                        <td style="width:30%;">{{i.Designation}}</td>
                        <td style="width:30%;">{{i.SAC}}</td>
                    </tr>
					{% endfor %}
                </tbody>
            </table>
			{% endif %}
            
		</div>		
    </div>
</div>
{% endblock %}
    
