{% extends 'aecsweb/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'aecsweb/css/notices.css' %}">
{% endblock%}

{% block body %}
<div class="main">
    <h5><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;TC</h5>
    <div class="main-inner">
		<div class="main-content">
			<form action="/tc/" method="POST">
				{% csrf_token %}
			<div class="card" style="width: 60%; padding: 5%; margin: auto;">
				<center><h3 style="margin-bottom: 6%;">Your TC</h3></center>
            	
			  	<div class="input-group" style="margin-bottom: 7%;">
                	<span class="input-group-text">Admission No. or TC No.</span>
                	<input type="text" aria-label="Year" class="form-control" name="inp_no">
              	</div>
                    <button type="submit" class="btn btn-success" style="margin:auto; width: 40%;" >Get TC</button>
                
			</div>

			</form>
		</div>		
    </div>
</div>
{% endblock %}
    
